@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

html {
	font-size: 1.5em;
}

body {
	margin: 0;
	color: rgb(80,80,80);
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

#instafeed {
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: scroll;
}

#instafeed > * {
}

#instafeed img {
	width: 300px;

	opacity:0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	animation-duration: 500ms;
}

.about {
	max-width: 29em;
	margin: 50px auto;
	font-size: 100%;
}

.about > p {
	margin-left: 50px;
	margin-right: 50px;
}

.about a {
	text-decoration: underline;
}

.archive {
	margin: 2em;
}

.item {
	padding-bottom: 1.2em;
	display: block;
}

.item.archive {
	margin-top: 2em;
}

.item .title {
	padding-bottom: 0.1em;
	font-size: 100%;
}

.item .description {
	font-size: 80%;
	color: #A6A6A6;
}

.item:hover .title {
	text-decoration: underline;
}
